[submodule "HW/HW1/hw1-zmcnulty"]
	path = HW/HW1/hw1-zmcnulty
	url = git@gitlab.cs.washington.edu:cse373-18su-hw1/hw1-zmcnulty.git
[submodule "HW/HW2-project1/project1-mahirb-zmcnulty"]
	path = HW/HW2-project1/project1-mahirb-zmcnulty
	url = git@gitlab.cs.washington.edu:cse373-18su-project1/project1-mahirb-zmcnulty.git
[submodule "HW/HW4-project2/project2-mahirb-zmcnulty"]
	path = HW/HW4-project2/project2-mahirb-zmcnulty
	url = git@gitlab.cs.washington.edu:cse373-18su-project2/project2-mahirb-zmcnulty.git
[submodule "HW/HW6-project3/project3-mahirb-zmcnulty"]
	path = HW/HW6-project3/project3-mahirb-zmcnulty
	url = git@gitlab.cs.washington.edu:cse373-18su-project3/project3-mahirb-zmcnulty.git
[submodule "HW/HW7-project4/project4-mahirb-zmcnulty"]
	path = HW/HW7-project4/project4-mahirb-zmcnulty
	url = git@gitlab.cs.washington.edu:cse373-18su-project4/project4-mahirb-zmcnulty.git
